.env
*.log
docs/
package-lock.json
node_modules/
debug
target
**/*.rs.bk
.idea/
.DS_Store
.claude
.vscode
backup.env
services.env
vps.env
home/homed/config.toml
home/services/traefik/traefik.yml
vps/authelia/secrets/
vps/authelia/users_database.yml